<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director Letters Footer</title>
</head>
<body>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-links">
                <div class="links-wrapper">
                    <h2><a href="/letters">Letters</a></h2>
                    <ul class="link-list">
                        <li><a href="/banddirectorletters">Band Director Letters</a></li>
                        <li><a href="/choirdirectorletters">Choir Director Letters</a></li>
                        <li><a href="/orchestradirectorletters">Orchestra Director Letters</a></li>
                        <li><a href="/musicaltheaterdirectorletters">Musical Theater Director Letters</a></li>
                    </ul>
                </div>

                <div class="links-wrapper">
                    <h2>Our Websites</h2>
                    <ul class="link-list">
                        <a href="https://www.accoladi.com/public"><li>Accoladi</li></a>
                        <a href="https://www.nationalscholasticmusiciansawards.com/home"><li>National Scholastic Musician Awards</li></a>
                        <a href="https://www.mymusicfuture.com/"><li>My Music Future</li></a>
                    </ul>
                </div>

                <div class="links-wrapper">
                    <h2>Contact Us</h2>
                    <ul class="link-list">
                        <li>Phone: +925 825 4700</li>
                        <li>Email: example@keth-studio.com</li>       
                    </ul>
                </div>

                <div class="links-wrapper">
                    <h2>Social Links</h2>
                    <ul class="social-links">
                        <li><i class="bi bi-facebook"></i></li>
                        <li><i class="bi bi-twitter"></i></li>
                        <li><i class="bi bi-instagram"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="fineprint">
            <p>©2023 All rights Reserved</p>
        </div>


    </footer>
    
</body>
</html>