<%- include('partials/header') -%>


<div class="hero-img">

</div>

<div class="header-row">
    <div class="contact-header">
        <h5>Contact us</h5>
        <h3>We Are Director's Letters</h3>
    </div>
</div>


<div class="form-header">
    <h3>Feel free to contact us</h3>
    <h5>Have comments, questions, feedback or share? 
        Our team woulds love to here from you
    </h5>
</div>

<div class="contact-container">
    <div class="contact-img">
        <img src="/images/theatredirector.jpeg" alt="contact_image_director">
    </div>
    <div class="contact-form">
        <div class="contact-row">
            <label for="name"></label>
            <input type="text" placeholder="Name">
            <label for="subject"></label>
            <input type="text" placeholder="Subject">
        </div>
        <div class="email">
            <label for="email"></label>
            <input type="text" placeholder="Email">
        </div>
        <div class="msg">
            <label for="msg"></label>
            <input type="text" placeholder="Message">
        </div>

    </div>
</div>