<%- include('partials/header') -%>


<div class="about-hero-img">

</div>


<div class="main-container">

    <div class="heading">
        <h5>Contact us</h5>
        <h3>We Are Director's Letters</h3>
    </div>

<div class="header-row">
    <!-- <div class="contact-header">
        <h5>Contact us</h5>
        <h3>We Are Director's Letters</h3>
    </div> -->





</div>

<div class="contact-container">

    
    <div class="contact-img">
        <img src="/images/maleconductor.jpg" alt="contact_image_director">
    </div>
    <div class="contact-form">
        <div class="form-header">
            <h3>Feel free to contact us</h3>
            <h5>Have comments, questions, feedback or share? 
                Our team woulds love to here from you
            </h5>
        </div>
        <div class="form">
        <div class="contact-row">
            <label for="name"></label>
            <input type="text" placeholder="Name">
            <label for="subject"></label>
            <input type="text" placeholder="Subject">
        </div>
        <div class="email">
            <label for="email"></label>
            <input type="text" placeholder="Email">
        </div>
        <div class="msg">
            <label for="msg"></label>
            <textarea name="msg" id="msg" cols="43" rows="6" placeholder="Message"></textarea>
        </div>
        </div>

    </div>


    
</div>

    <div class="more-info">
        <div>
            <h4>Office Info</h4>
            <h5>Phone: +1 310-310-6000.</h5>
            <h5>Mail: example@kethstudio.com</h5>
        </div>
        <div>
            <h4>Our Social Links</h4>
            <h5>Follow our social media account for upto date.</h5>
            <ul class="social-media-icons">
                <li>
                    <a href="#">
                        <img src="/images/facebook.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/twitter.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/instagram.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<%- include('partials/footer') -%>