<%- include('partials/header') -%>


<main class="contact-container">
    <section class="contact-hero">          
        <h1 class="contact-hero-title">Contact</h1>           
    </section>

    <section class="contact">
        <div>
            <h4>Contact us</h4>
            <h2>We Are Director's Letters</h2>
            <img src="/images/maleconductor.jpg">
        </div>
        <div class="contact-form">
            <div class="form-header">
                <h3>Feel free to contact us</h3>
                <h5>Have comments, questions, feedback or share?</h5>
                <h5>Our team woulds love to here from you</h5>
            </div>
    
            <div class="form">
                <div class="contact-row">
                    <label for="name"></label>
                    <input type="text" placeholder="Name">
                    <label for="subject"></label>
                    <input type="text" placeholder="Subject">
                </div>
                <div class="email">
                    <label for="email"></label>
                    <input type="text" placeholder="Email">
                </div>
                <div class="msg">
                    <label for="msg"></label>
                    <textarea name="msg" id="msg" cols="43" rows="6" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
    </section>

    <section class="more-info">
        <div>
            <h4>Office Info</h4>
            <h5>Phone: +1 310-310-6000</h5>
            <h5>Mail: example@kethstudio.com</h5>
        </div>
        <div>
            <div>
                <h5>Our Social Links</h5>
                <h4>Follow our social media account for up to date.</h4>
            </div>
            <div class="sm-icons">
                <ul class="social-media-icons">
                    <li>
                        <a href="https://www.facebook.com/">
                            <img src="/images/facebook.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=en">
                            <img src="/images/twitter.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">
                            <img src="/images/instagram.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/">
                            <img src="" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>


<%- include('partials/footer') -%>