 <%- include('partials/header') -%>
 
 <!-- <link rel="stylesheet" href="/css/home-styles.css"> -->
 


<div class="content">
    <main class="main-container">

        <section class="hero">
            
            <h2>Streamlined Letters<br>
                For<br> 
                Music Educators<br>
                By<br>
                Music Educators<br>
            </h2>

            <h5>At DirectorLetters.com, our mission is to empower music educators by 
                relieving communication overload. With hundreds of templates for 
                band, choir, orchesta, and musical theater directors, we give back precious time 
                to inspire, create, and make music.
            </h5>
            
            
            
    
        </section>
        <section class="dropdown-categories">
            
            <div class="project-container">
            <div class="proj-one">
                
                <h5>Band Director Letters</h5>
                <h6></h6>
                <p></p>
               
            </div>
            <div class="proj-two">
                <div class="link-icons-extra">
                    <a href=""><i class="fa-regular fa-folder"></i></a>
                    <a href="https://github.com/DevinciCodes/Fine-Dining-Landing-Page-w-React"><i class="fa-brands fa-github grey-icons"></i></a>
                    <a href="https://gericht-dining.tech/"><i class="fa-solid fa-file-export grey-icons"></i></a>
                </div>
                <h5>Choir Director Letters</h5>
                <h6></h6>
                <p></p>
            </div>
            <div class="proj-three">
                <div class="link-icons-extra">
                    <a href=""><i class="fa-regular fa-folder"></i></a>
                    <a href="https://github.com/DevinciCodes/Blog"><i class="fa-brands fa-github grey-icons"></i></a>
                    <a href="https://shrouded-brushlands-23760.herokuapp.com/"><i class="fa-solid fa-file-export grey-icons"></i></a>
                </div>
                <h5>Orchestra Director Letters</h5>
                <h6></h6>
                <p></p>
            </div>

            <div class="proj-four">
                
                <h5>Band Director Letters</h5>
                <h6></h6>
                <p></p>
               
            </div>
        </div>
        </section>

        <section class="about">
            <div id="about-logo">
                <img src="/images/directors-logo.png" alt="">
             </div>
            <div class="about-text">
                <h3 class="about-title">About</h3>
                <h6 class="about-body">Welcome to DirectorLetters.com, where we truly understand the multifaceted 
                challenges of being a modern music educator. We wholeheartedly recognize that 
                effective communication forms the very foundation of your success in this 
                pivotal role. As a dedicated music educator, you bear the responsibility of 
                maintaining open lines of communication with various stakeholders, most 
                notably your school's administration, including your principal. Equally vital 
                is the task of keeping parents well-informed about their children's progress 
                and actively engaging their invaluable support. However, let's not overlook 
                the constant demand for communication with your students themselves. 
                While the ultimate goal is to create music together, the limited classroom 
                time available for instruction can often be eroded by the sheer volume of 
                information that must be shared collectively and individually. Consequently, 
                you may find yourself continuously resorting to email as a means to provide 
                your students with the essential details that will keep them connected and 
                your music program flourishing with resounding success... <br> 
                </h6>
                <h4 class="about-page-link">More</h4>
            </div>
        </section>

        <section class="External-links">
            <div class="project-container">
                <a href="https://www.accoladi.com/public">
                    <div class="web-one">
                        <h5>Accoladi</h5>
                        <h6></h6>
                        <p></p>
                    </div>
                </a>
                <a href="https://www.nationalscholasticmusiciansawards.com/home">
                    <div class="web-two">               
                        <h5>National Scholistic Musician Awards</h5>
                        <h6></h6>
                        <p></p>
                    </div>
                </a>
                <a href="https://www.mymusicfuture.com/">
                    <div class="web-three">
                        
                        <h5>My Music Future</h5>
                        <h6></h6>
                        <p></p>
                    </div>
                </a>
            </div>
        </section>

        <section class="connect">
            <div class="connect-container">
                <div class="connect-text">
                    <h4>Let's Connect</h4>
                    <h2>We're A Team Of Music Educators<br> Who Are Excited About Music Education</h2>
                </div>

                <div class="connect-button">
                    <a href="/contact">
                        <button class="btn">Connect</button>
                        
                    </a>
                    
                </div>
            </div>

        </section>

    </main>
</div>
    

<%- include('partials/footer') -%>
