<%- include('partials/header') -%>

<main class="home-container">
    <section class="home-hero">
        <h2>Streamlined Letters
            <br>
            For Music Educators
            <br>
            By Music Educators<br>
        </h2>        
        <h5>At DirectorLetters.com, our mission is to empower music educators by 
            relieving communication overload. With hundreds of templates for 
            band, choir, orchesta, and musical theater directors, we give back precious time 
            to inspire, create, and make music.
        </h5>
    </section>

    <section class="home-letters">
        <a href="/band-director-letters">
            <div class="letter-one">
                <h5>Band Director Letters</h5>  
            </div>
        </a>
        <a href="/choir-director-letters"> 
            <div class="letter-two">
                <h5>Choir Director Letters</h5>  
            </div>
        </a>
        <a href="/orchestra-director-letters">
            <div class="letter-three">
                <h5>Orchestra Director Letters</h5>  
            </div>
        </a>
        <a href="/musical-theater-director-letters">
            <div  class="letter-four">
                <h5>Musical Theater Director Letters</h5>  
            </div>
        </a>
    </section>

    <section class="about">
        <div class="about-logo">
            <img src="/images/directors-logo.png" alt="">
        </div>
        <div class="about-section">
            <h3 class="about-title">About</h3>
            <h6 class="about-body">Welcome to DirectorLetters.com, where we truly understand the multifaceted 
                challenges of being a modern music educator. We wholeheartedly recognize that 
                effective communication forms the very foundation of your success in this 
                pivotal role. As a dedicated music educator, you bear the responsibility of 
                maintaining open lines of communication with various stakeholders, most 
                notably your school's administration, including your principal. Equally vital 
                is the task of keeping parents well-informed about their children's progress 
                and actively engaging their invaluable support. However, let's not overlook 
                the constant demand for communication with your students themselves. 
                While the ultimate goal is to create music together, the limited classroom 
                time available for instruction can often be eroded by the sheer volume of 
                information that must be shared collectively and individually. Consequently, 
                you may find yourself continuously resorting to email as a means to provide 
                your students with the essential details that will keep them connected and 
                your music program flourishing with resounding success... <br> 
            </h6>
            <div class="about-button">
                <a href="/aboutus">
                    <button class="btn">More</button>                       
                </a>
            </div>
        </div>
    </section>

    <section class="home-sites">
        <div id="site">
            <a href="https://www.accoladi.com/public">
                <div class="web-one"></div>
                <h5>Accoladi</h5>
            </a>
        </div>
        <div id="site">
            <a href="https://www.nationalscholasticmusiciansawards.com/home">
                <div class="web-two"></div>
                <h5>National Scholastic Musician Awards</h5>
            </a>
        </div>
        <div id="site">
            <a href="https://www.mymusicfuture.com/">
                <div class="web-three"></div>
                <h5>My Music Future</h5>
            </a>
        </div>
    </section>

    <section class="connect">
        <div>
            <h4>Let's Connect</h4>
            <h2>
                We're A Team Of Music Educators
                <br> 
                Who Are Excited About Music Education
            </h2>
        </div>
        <div class="connect-button">
            <a href="/contact">
                <button class="btn">Connect</button>                       
            </a>
        </div>
    </section>
</main>



<%- include('partials/footer') -%>
