<%- include('partials/header') -%>


<main class="letters-container">
    <section class="letters-hero">          
        <h1 class="letters-hero-title">Letters</h1>           
    </section>

    <section class="letters-section">
        <div class="letter-type">
            <a href="/band-director-letters">
                <h3>
                    Band Director Letters
                </h3>
            </a>
            <div class="letter-body">

            </div>
        </div>
        <div class="letter-type">
            <a href="/choir-director-letters">
                <h3>
                    Choir Director Letters
                </h3>
            </a>
            <div class="letter-body">

            </div>
        </div>
        <div class="letter-type">
            <a href="/orchestra-director-letters">
                <h3>
                    Orchestra Director Letters
                </h3>
            </a>
            <div class="letter-body">

            </div>
        </div>
        <div class="letter-type">
            <a href="/musical-theater-director-letters">
                <h3>
                    Musical Theater Director Letters
                </h3>
            </a>
            <div class="letter-body">

            </div>
        </div>
    </section>
</main>


<%- include('partials/footer') -%>