<%- include('partials/header') -%>

<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading" >Band Director Letters</h3>
            </div>
        </section>
    </main>
</div>
<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading" >Chior Director Letters</h3>
            </div>
        </section>
    </main>
</div>
<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading" >Orchestra Director Letters</h3>
            </div>
        </section>
    </main>
</div>
<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading" >Musical Theater Director Letters</h3>
            </div>
        </section>
    </main>
</div>

<%- include('partials/footer') -%>