<%- include('partials/header') -%>


<main class="letters-container">
    <section class="letters-hero">          
        <h1 class="letters-hero-title">Letters</h1>           
    </section>

    <section class="letters-section">
        <div class="letter-type">
            <h3>List of Letters</h3>
            <div class="letters">
                <% if (letters.length > 0) { %>
                <% letters.forEach(function(letter) { %>
                <div class="letter">
                    <h2><%= letter.title %></h2>
                    <p><%= letter.content %></p>
                    <!-- Add more details based on your letter schema -->
                </div>
                <% }); %>
                <% } else { %>
                <p>No letters found.</p>
                <% } %>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer') -%>
