<%- include('partials/header') -%>

<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading">
                    <a href="/banddirectorletters">Band Director Letters</a>
                </h3>
            </div>
        </section>
    </main>
</div>
<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading">
                    <a href="/choirdirectorletters">Choir Director Letters</a>
                </h3>
            </div>
        </section>
    </main>
</div>
<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading">
                   <a href="/orchestradirectorletters">Orchestra Director Letters</a>
                </h3>
            </div>
        </section>
    </main>
</div>
<div class="content">
    <main class="main-container">
        <section>
            <div class="about-section">
                <h3 class="about-heading">
                   <a href="/musicaltheaterdirectorletters">Musical Theater Director Letters</a>
                </h3>
            </div>
        </section>
    </main>
</div>

<%- include('partials/footer') -%>